.adsPage{
    margin: 50px;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.detailedButton{
    cursor:pointer;
}

.adWrapper{
    max-width: 350px;
    min-width: 350px;
    max-height: 350px;
    min-height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right:30px;
    margin:10px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(29,  161, 242);

}

.adTitle{
    font-size: 1.6rem;
    margin: 25px;
    color: black;
    cursor: pointer;
}

.adPrice{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.venta{
    color:green;
    margin-bottom: 20px;
    text-align: left;
    
    
}

.compra{
    color:red;
    margin-bottom: 20px;
    text-align: left;
   
}

ul{
    list-style: none;
    text-align: left;
    
}

.tagItem{
    text-align: left;
    color: darkslategrey
}