.layout-header {
    background-color: white;
    border-bottom-width: 1px;
    height: 64px;
    position: sticky;
    top: 0;
  }
  
  .layout-main {
    border-left-width: 1px;
    border-right-width: 1px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    
  }

  .layout-content{
    margin: 30px;
    margin-top:10px;
  
  }
  
  .layout-title {
    text-align: center;
    border-bottom-width: 1px;
    display: flex;
    height: 52px;
    padding: 0 15px;
    color: rgba(29, 161, 242, 1)
  }
  
  .layout-footer {
    align-items: center;
    border-top-width: 1px;
    display: flex;
    height: 64px;
  }
  
  .layout-header,
  .layout-footer {
    padding: 0 15px;
  }
  